/* === SCSS Colors of EldinR website === */

$green: #37A000;
$orange: #E8A30C;
$red: #FF0000;
$blue: #330CE8;
$aqua: #0DFFD9;
$bg: #efefef;
$gradient: linear-gradient(to right, #30CFD0 0%, #b089e6 6%, red 55%);
