/* === SCSS Modals of EldinR website === */

a.lightbox img {
    width: 200px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: 20px 20px 20px 20px;
    height: 200px;
}
    
.lightbox-target {
    position: absolute;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    left: 0;
}
    
    
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
    
a.lightbox {
    color: white;
}
    
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
    

    
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
    
    
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}   
    
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}
    
.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
    z-index: 99999;
}
    
.lightbox-target:target a.lightbox-close {
    top: 0px;
}

/* Modal for contact form */

.modalBox {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8); 
    z-index: 99999; 
    opacity:0; 
    pointer-events: none;
}

.modalBox:target {
    opacity:1; 
    pointer-events: auto;
}

.modalBox > div {
    width: 620px; 
    position: relative;
    margin: 10% auto; 
    padding: 5px;
    background: #fff;
}

.closeWindow {
    float: $right;
}

@media screen and (max-width: 980px) {
    .lightbox-target:target img {
        max-height: 85%;
    }
}